/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */ 
.mapboxgl-popup-close-button{
	color: #000;
}
.fl-content-slider .fl-slide-bg-photo{
	background-position: right !important;
}
.woocommerce .fl-post-grid-image img{
	    max-height: 300.5px;
}
.woocommerce div.product .product_title{
	font-size: 55px;
	font-weight: 300;
}
.top-bar a:hover{
	color: #444444 !important;
}
.tabs.wc-tabs li a{
	font-size: 18px;
    text-transform: none;
    letter-spacing: 0.025em;
}
.tabs.wc-tabs li {
	background: transparent !important;
	border: 0px !important;
}
.woocommerce-Tabs-panel{
	border: 0px !important;
	border-bottom: 2px solid #e6e6e6 !important;
}
.wc-tabs li.active a {
    border-color: #000000;
	border-bottom-style: solid;
    border-bottom-width: 2px;
}
.fl-slide-4 .fl-content-slider .fl-slide-bg-photo,
.fl-slide-5 .fl-content-slider .fl-slide-bg-photo{
    background-position: center !important;
}
.woocommerce div.product .product_title ~ h3{
	font-size: 24px;
    color: #352525;
    font-weight: 900;
    text-transform: uppercase;
}
.woocommerce div.product p > img{
	max-width: 150px;
}
.woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a,
.woocommerce .fl-module-fl-woo-breadcrumb .woocommerce-breadcrumb{
    text-transform: uppercase !important;
    font-size: 11px !important;
    font-weight: 600 !important;
	margin-top: 3px;
}
.fl-widget ul li.current-cat a{
	color: #222;
}

#ship-to-different-address{
	margin-left: 20px !important;
}

.uabb-blog-post-inner-wrap .uabb-post-thumbnail,
.uabb-blog-post-inner-wrap .uabb-post-thumbnail img{
    min-height: 270px;
}
.footerForm input[type=text], .footerForm input[type=email], .footerForm select{
    width: 100%!important;
    border-radius: 0px!important;
    height: 46px!important;
    padding: 10px!important;
    font-size: 20px!important;
    color: #282c2b!important;
    font-family: 'Open Sans'!important;
}
.footerForm textarea{
    width: 100%!important;
    border-radius: 0px;
    height: 90px!important;
    padding: 10px!important;
font-size: 20px!important;
    color: #282c2b!important;
    font-family: 'Open Sans'!important;
}
#wps-slider-section .wps-product-section .slick-next{
    top: 44% !important;
    right: 3px !important;
}
.widget_product_categories h2.widgettitle{
	border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}
ul.product-categories li a{
	font-weight: 600;
}
.homeIcon .adv-icon-horizontal .adv-icon-link {
    margin-bottom: 0px!important;
}

#wps-slider-section .wps-product-section .slick-prev {
    top: 44% !important;
    left: 16px;
}
.slick-slide img{
    margin: 0 auto;
}
.footerForm ::placeholder{
    color: #3D4045!important;
}
.footerForm .footer-cf7-form-wrapper .fa-stack{
	overflow: hidden!important;
    border-radius: 70px!important;
    padding: 16px 16px!important;
    background-color: #638d3d!important;
    font-size: 12px!important;
}
.footerForm .footer-cf7-form-wrapper .fa-stack .fa-circle{
	display: none!important;
}

.footerForm .footer-cf7-form-wrapper{
	display: flex!important;
    justify-content: flex-end!important;
    align-items: center!important;
}
.footerForm input[type=submit]{
	letter-spacing: 0;
    border: 0;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 31px;
    background-color: transparent;
    text-transform: uppercase;
}
.footerForm .small a{
	color: #638d3d;
}
.footerForm .small {
	direction: rtl!important;
	color: #a1a1a1;
    font-style: italic;
	font-weight: 600;
    font-size: 14px;
}
.copyRightBar ul{
    list-style: none;
}
.copyRightBar ul li{
    list-style: none;
}
.copyRightBar ul li a{
   color: #fff!important;
}
.socailBar ul li {
    height: 40px!important;
    width: 40px!important;
    background-color: #638d3d;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 4px;
}
.copyRightBar .fl-html .top {
	    color: #a1a1a1!important;
	border-bottom: 1px solid!important;
    font-size: 15px;
}
.copyright-link {
    font-size: 12px;
    text-align: center;
    color: #a1a1a1;
}

.socailBar ul {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}
.copyright-link a{
    color: #638d3d;
}
.timeline_items_wrapper{
	margin-bottom: 0px!important;
}
.fl-post-carousel-navigation a{
	border: 2px solid #222;
    padding: 5px;
	opacity: 0.35 !important;
}
.fl-post-carousel-navigation svg{
	max-height: 16px;
    margin-top: 8px;
}
.max-width-768{
	max-width: 768px;
	margin: 0 auto;
}
.fl-post-carousel-more{
	text-align: center;
    color: #000;
    border: 2px solid #000;
    padding: 5px 35px;
    width: 100%;
	font-weight: 400;
}
.fl-post-carousel-content{
	text-align: center;
	margin-top: 20px;
}
.fl-post-carousel-title{
	text-align: center;
    color: #272727 !important;
    font-weight: 600 !important;
}
.FullWidthGallery .uabb-module-content.uabb-photo-gallery{
	display: flex;
    align-items: stretch;
    overflow: hidden;
    max-height: 250px;
}
.FullWidthGallery .uabb-photo-gallery-item {
    width: 16.666666666667%;
    padding: 0px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
}
.FullWidthGallery .uabb-photo-gallery-item a{
    max-height: 100%;
    height: 250px!important;
}
.FullWidthGallery .uabb-photo-gallery-item a img{
    height: 100%!important;
    width: auto!important;
    max-width: none;
    max-height: 100%!important;
}
.productBlog .uabb-woocommerce .uabb-woo-products-thumbnail-wrap {
    position: relative;
    height: auto;
}
.productBlog .uabb-woo-products-summary-wrap {
    background-color: #fff;
    color: #000;
    font-weight: 300;
    text-align: center;
}
/*Global row css */
.GlobalHWInner .fl-col-group .fl-col .fl-col-content *{
	max-width: none;
    height: 100%;
    max-height: none;
    min-height: 100%;
    border: 0px;
    
}
.GlobalHWInner .fl-col-group .fl-col .fl-col-content img{
    margin-left: -40%;
}
.gfield_checkbox label{
	font-weight: 300 !important;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}
footer .footer-cf7-form-wrapper .fa-stack{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .fa-inverse{
	font-size: 14px;
}
/*Global row css */

.oldProductCollection .uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    transition: all 0.9s!important;
    font-size: 20px!important;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formOnfooter #field_33_2{
    margin-top: -50px;
}
.formOnfooter #field_33_7{
    margin-top: -10px;
}
.formOnfooter #field_33_5{
    max-height: 122px;
}

.formOnfooter .gform_footer input[type=submit]{
    text-align: center!important;
    border-radius: 0px;
    background-color: #638d3d!important;
    color: #fff!important;
    font-size: 18px!important;
    height: 52px!important;
    width: 49.2%!important;
    position: absolute;
    right: 5px!important;
    top: 165px!important;
}
#gform_wrapper_33{
	margin: 0px!important;
}
#gform_33{
    position: relative;
}
ul#gform_fields_33 li input , ul#gform_fields_33 textarea{ border-radius: 0px!important;}
ul#gform_fields_33 textarea{ max-height: 125px; }

.formOnfooter .gform_validation_error .gform_footer input[type=submit] {
    top: 250px!important;
}
#field_33_7{
    max-width: 47%;
    overflow: hidden;
}

/* View all products css open here  */
.row.product-row .col-md-4.col-sm-4 {
    margin-bottom: 35px;
}
.row.product-row .fl-post-grid-image {
    position: relative;
    height: 270px;
    overflow: hidden;
}
.row.product-row .fl-post-grid-image  img{
    width: 100%;
}
.row.product-row .fl-post-grid-text.product-grid.btn-grey {
    background-color: #638d3d;
    color: #fff;
    text-align: center;
    padding: 1em 1.2em;
    color: #fff;
}

.row.product-row .fl-post-grid-text.product-grid.btn-grey h4.woo_product_category{
    margin-bottom: .5em;
    display: block;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.row.product-row .fl-post-grid-text.product-grid.btn-grey a.woo_product_title{
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    display: block;
}

.row.product-row .fl-post-grid-text.product-grid.btn-grey  h3.woo_product_species {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* View all products css end here  */
@media(min-width:993px) and (max-width:1024px){
	.footer .fl-row-content > .fl-col-group > .fl-col{
		    width: 80% !important;
	}
}
@media(max-width: 1024px){
.footer .fl-row-content > .fl-col-group > .fl-col{
    width: 60%;
    margin: 0 auto!important;
    float: none;
}

}
@media(min-width: 1023px){
	#menu-item-15334,
	#menu-item-15349,
	#menu-item-15350,
	#menu-item-15351,
	#menu-item-15352{
		display: none !important;
	}
}

@media(min-width: 992px){
.prodCate .uabb-woo-categories .uabb-woo-cat__column-3 li.product {
    width: 31%;
}	
	.Banner{
    position: relative;
}
.Banner .BannerSideLogo{
        position: absolute;
    bottom: -170px;
}
}
/* home page product css  */
.copyRightBar .fl-html .top{
	    display: inline-block!important;
	background-color: transparent!important;
    position: static!important;
    width: auto!important;
	color: #a1a1a1!important;
    height: auto!important;
}
.copyRightBar #fl-to-top{
	display: inline-block!important;
}
.copyRightBar .fl-html .top:hover{
	background-color: transparent!important;
}
.homePageProductCat .woocommerce-categories{
	list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homePageProductCat .woocommerce-product-category-page h2{
	    font-size: 16px;
    line-height: 1.2em;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.homePageProductCat .woocommerce-product-category-page a img{
	max-width: 250px;
    max-height: 240px;
}
.homePageProductCat .woocommerce-product-category-page {
	margin-bottom: 40px;
}


/* home page product end css  */
/* product category */
.prodCate .uabb-woo-categories li.product .uabb-category__title-wrap{
	position: static!important;
}
.prodCate .uabb-woo-categories li.product .uabb-category__title-wrap .uabb-count{
	display: none!important;
}
.prodCate  .product-category{
	border: 1px solid #e3e3e3!important;
}
.prodCate  ul.products > li{
	    margin-left: 10px!important;
	    margin-right: 10px!important;
}

.prodCate  ul.products{
    padding: 0px!important;
}
/* Product design */
.accessoriesPage .uabb-woo-products-description > p:first-child{
	display: none!important;
}
.uabb-woo-products-classic .uabb-woo-product-wrapper{
	position: relative;
}
.uabb-woocommerce .uabb-woo-products-thumbnail-wrap {
    position: relative;
    height: 270px;
    overflow: hidden;
}
.uabb-woocommerce .uabb-woo-products-summary-wrap .button,
.product-layout .fl-post-grid-more{
	position: absolute;
    top: 223px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.8) !important;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	height: 0; 
}
.product-layout .fl-post-grid-more{
	  top: 270px;
}
.product-layout h2.fl-post-grid-title a{
	font-size: 14px;
    margin-bottom: .5em;
    display: block;
    line-height: 1.3;
    color: #fff;
    font-weight: 600;
}
.product-layout .fl-post-grid-post:hover .fl-post-grid-more{
	padding: 8px;
    color: #fff;
}
.uabb-woo-product-wrapper:hover .uabb-woo-products-summary-wrap .button,
.product-layout .fl-post-grid-post:hover .fl-post-grid-more {
	opacity:1;
	height:auto;
	top: 213px;
}
.product-layout .fl-post-grid-post:hover .fl-post-grid-more {
	top: 251px;
}
.uabb-woo-products-summary-wrap,
.product-layout .fl-post-grid-text{
    background-color: #638d3d;
    color: #fff;
    font-weight: 600;
	text-align: center;
}
h2.woocommerce-loop-product__title {
    color: #fff;
}
.uabb-woocommerce .uabb-woo-product-category{
	opacity: 1;
}
.uabb-woo-products-classic .uabb-flash-container{
	left: auto;
	right: 0;
    margin-top: 5px;
}
a.button.product_type_variable{
	font-size: 0 !important;
}
a.button.product_type_variable:after {
    content: "View Product";
    font-size: 16px;
}
.uabb-woocommerce .uabb-woo-products-summary-wrap a.button.product_type_variable {
    top: 220px !important;
}
a.button.product_type_variable:before,
.product-layout .fl-post-grid-more:before{
    content: "+";
    font-size: 20px;
    margin-right: 10px;
}
.product-layout .fl-post-grid-more:before{
	 font-size: 17px;
}
.uabb-woo-products-summary-wrap a.button:before{
	 content: "+";
    font-size: 20px;
    margin-right: 10px;
}
.product-layout .fl-post-column{
	padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.copyRightBar ul li a .fa{
	font: normal normal normal 22px/1 FontAwesome !important;
}
.copyRightBar ul li a span{
	display: flex;
}
@media(min-width:1000px) and (max-width:1024px){
	.uabb-woo-products-summary-wrap .uabb-woo-product-category,
	.uabb-woocommerce .woocommerce-loop-product__title{
		font-size: 13px !important;
    	line-height: 1.3 !important;
	}
	ul#menu-main-menu li a{
		font-size: 12px !important;
	}
	.fl-content-slider .fl-slide-bg-photo{
		background-position: right;
	}
}
@media(max-width:768px){
.facet_filters .close_bar .close {
    color: #000;
	font-size: 30px!important;
}
.facet_filters .close_bar {
    background-color: #fff;
}

	.fl-post-carousel-more{
		padding: 5px 8px;
	}
	.uabb-woo-products-grid .uabb-woo-product__column-mobile-1 ul.products li.product {
    width: 50% !important;
}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding: 0px !important;
	}
	.timelineTouch.timeline.flatNav .t_left, .timelineTouch.timeline.flatNav .t_right, #content .timelineTouch.timeline.flatNav .t_left, #content .timelineTouch.timeline.flatNav .t_right{
		display: block !important;
		opacity: 1 !important;
	}
	.fl-post-carousel-navigation .carousel-prev {
		left: -10px;
	}
	.fl-post-carousel-navigation .carousel-next {
		right: -10px;
	}
	.products.columns-3{
		max-width: 400px !important;
    	margin: 0 auto !important;
	}
	.max-width-issue .product-layout{
		max-width: 400px;
    	margin: 10px auto;
	}
	.product-layout .fl-post-grid-post:hover .fl-post-grid-more {
		top: 358px;
	}
	.max-width-issue h1{
		text-align: center !important;
	}
	.open_sidebar .fl-button{
		width: 100%;
	} 
}
@media(max-width:767px){
	.uabb-woo-products-grid .uabb-woo-product__column-mobile-1 ul.products li.product {
    width: 100% !important;
}
.formOnfooter #field_33_2{
    margin-top: 0px;
}
.formOnfooter #field_33_7{
    margin-top: 0px;
}
.formOnfooter #field_33_5{
    max-height: none;
}
.formOnfooter #field_33_7 {
    max-width: 100%;
}
	#field_33_5{
		margin-top:0px!important ;
	}
.formOnfooter .gform_footer input[type=submit]{
    position: static;
}
.formOnfooter .gform_body li{
    width: 100%!important;
}
.formOnfooter .gform_footer input[type=submit] {
    width: 200px!important;
    float: left;
}
.formOnfooter .gform_footer{
		padding: 0px!important;
	}
}
@media(max-width:400px){
	#wps-slider-section .wps-product-section .slick-next{
		right: -7px !important;
	}
	#wps-slider-section .wps-product-section .slick-prev{
		    left: 7px !important;
	}
	.i-phone-img-issue .fl-row-content-wrap{
		min-height: 260px;
	}
	.i-phone-img-issue .fl-row-content-wrap .fl-module-heading > .fl-node-content{
		    margin-top: -220px;
	}
	.max-width-issue .product-layout{
    	margin: 10px 20px;
	}
	.uabb-post-wrapper .uabb-blog-post-content{
		width: 100% !important;
	}
}